.card{
    width: 300px;
    height: 400px;
    background-color: aqua;
    color: red;
    border-radius: 10px;
    border: 5px solid blue;
    padding: 25px;
    margin: auto;
    text-align: center;
}
.booklist{
    display: flex;
    flex-wrap: wrap;
}

.card button{
    background-color: blue;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

